.section-card {
    @apply bg-[var(--bg-primary)] m-3 rounded-lg ;
}
.container-slide{
    @apply bg-[var(--bg-primary)] rounded-lg mx-3 ;
}
.container-slide .title{
    @apply text-center py-1 rounded-t-lg  w-[100%] text-xl font-[Lora] flex justify-center items-center;
}
.section-card .title{
    @apply flex justify-center items-center gap-2 text-center py-1 rounded-t-lg w-[100%] tracking-[2px] text-xl font-[Lora];
}
.ac_Items {
    @apply sm:grid  flex flex-wrap mx-2 justify-around items-center gap-y-3  gap-x-2 my-7 sm:mx-5 
}
.ac_Items .items {
    @apply shadow-[0px_1px_7px_1px_var(--bg-secondary)] rounded-xl pt-2 overflow-hidden max-w-[200px] min-w-[170px] ;
}
.ac_Items .items .card-image.slide{
    @apply h-[100px]
}
.ac_Items .items .card-image {
    @apply h-[120px] overflow-hidden;
}

.ac_Items .items .card-image img {
    @apply h-full w-full object-contain hover:scale-110 transition duration-200 ease-in
}

.ac_Items .items .ac_textItem {
    @apply  p-2 relative;
}

.ac_textItem .Prod-title {
    @apply text-[var(--text-size)] line-clamp-1 ;
    font-family: var(--font-family);
}

.ac_textItem .desc {
    @apply text-[0.9rem]
}

.ac_textItem .price span {
    @apply font-semibold
}

.ac_textItem .price {
    @apply font-normal text-[1rem];
}

.ac_textItem .price .special {
    @apply font-normal text-[1rem] line-through ml-[50px];
}
/* ------------------Promotion design---------- */
.ac_textItem .PromoContent{
    @apply absolute right-[-5px] bg-[var(--text-color-promot)] rounded-l-[5px] top-14 overflow-hidden ;
}
.ac_textItem .PromoContent h1{
    @apply  text-white px-2 py-1 text-[12px] text-[Lora] ;
}
.ac_Items .card_btn {
    @apply text-center mb-2 mx-3
}

.ac_Items .card_btn Button {
    @apply border w-full rounded-lg py-1 border-[var(--bg-color-primary)] bg-transparent hover:bg-[var(--bg-color-primary)] hover:text-[var(--bg-primary)];
}