* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    @apply grid grid-cols-2 
}
.content{
    @apply bg-[var(--bg-secondary)] absolute left-16 right-0 h-full transition-all duration-300 ease-in
}
.content.activeBtn{
    @apply bg-[var(--bg-secondary)] absolute left-64 right-0 h-full
}