.body {
    @apply bg-white
}

.shortNavbar {
    @apply  h-[60px] bg-[var(--bg-primary)] text-[var(--bg-color)] px-3 flex justify-between items-center
}

.shortNavbar .link {
    @apply hover:text-[var(--text-hover-color)] transition duration-300 ease-in ml-3
}

.content {
    @apply flex justify-between text-lg items-center content-center 
}

.form {
    @apply border border-white rounded-lg mr-5
}

.input {
    @apply min-w-0 max-w-[250px] px-5 py-1 bg-transparent outline-none focus:outline-none
}

.searchBox {
    @apply border border-black rounded-lg min-w-[50px] max-w-[400px] relative py-0.5 pl-3 pr-12 overflow-hidden
}

.searchBox input {
    @apply focus:outline-none w-full bg-transparent
}

.searchBox .ac_iconSearch {
    @apply absolute top-0 right-0 text-2xl p-1.5 hover:text-[var(--bg-primary)] transition duration-300 ease-in bg-[var(--bg-color-primary)] h-full w-10
}

.ac_btn_Box {
    @apply relative
}

.ac_iconBell {
    @apply my-2 ml-3 hover:text-[var(--text-hover-color)] transition duration-300 ease-in text-[25px] mb-[-2px]
}

.ac_btn_Box .notification {
    @apply absolute top-[-7px] text-[18px]  right-0 content-center text-red-500
}
.UserName{
    @apply  text-center relative 
}
 .icon{
    @apply text-[25px] mx-2 hover:text-[var(--text-hover-color)] hover:cursor-pointer
}
.userInfoBox{
    @apply absolute right-[0] top-10 border bg-[var(--bg-color-primary)] text-white pb-3 z-50 rounded-lg text-[0.9rem] sm:text-[1rem] scale-50 overflow-hidden opacity-0 h-0 pointer-events-none transition-all duration-700 ease-in-out
}
.userInfoBox.active{
    @apply opacity-100 scale-100 pointer-events-auto h-[175px] ;
}
.userInfoBox .header{
    @apply w-full opacity-50 mb-3 border-b-2 my-2
}
.userInfoBox .content{
    @apply text-[0.9rem] sm:text-[1rem] grid grid-cols-1  w-[150px] sm:w-[170px]
}
.userInfoBox .content .text{
    @apply flex gap-3  w-full  justify-start items-center hover:cursor-pointer hover:bg-[var(--bg-color)] pl-2 py-1 
}