@import url("./theme.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

label{
    @apply  block text-lg text-[1.1rem]
}
.ac_form {
    @apply border mx-3 my-5 p-6 bg-[var(--bg-primary)] shadow-lg rounded-2xl;
}
.Box{
    @apply mb-3
}
.container-input{
    @apply grid grid-cols-2 gap-3 w-full justify-between mb-3  
}
.container_3inputs{
    @apply grid grid-cols-3 gap-3 w-full justify-between mb-3
}
.input{
    @apply border w-full py-[5px] rounded-lg px-3 outline-none focus:border-green-500
}
.textarea{
    @apply border w-full px-3 py-[5px] rounded-lg outline-none focus:border-green-500 ;
}
.p{
    @apply text-sm text-gray-500 mb-2
}
.ac-btn{
    @apply border rounded-lg text-center bg-[var(--bg-color)] w-full py-2 text-white hover:bg-[var(--bg-color-primary)] font-[Lora] text-lg transition duration-300 ease-out;
}
.input .select{ 
    @apply focus:bg-red-400 focus:outline-none
}