
.container{
    @apply w-[350px] sm:w-[700px]  md:w-[800px] bg-white m-auto grid grid-cols-1 sm:grid-cols-2 content-center my-[50px] rounded-md pb-3 sm:pb-0
}
.container .sideImg{
    @apply h-[350px] sm:h-[500px] overflow-hidden bg-cover
}
.container .sideImg .img{
    @apply w-full h-full rounded-t-md  sm:rounded-s-md sm:rounded-e-none
}
/* Form contains */
.form {
    @apply  h-full relative 
}
.form .formTitle{
    @apply text-center mt-10 mb-5 text-[1.1rem] font-[Lora] font-extrabold
}
.form .formTitle.except{
    @apply text-center mt-[50px] text-[1.2rem] font-[Lora] font-extrabold
}
.form .cards .card{
    @apply mb-7 relative mx-5
}
.form .cards.except{
    @apply mb-7 relative
}
.form .card .cardText{
    @apply font-[Lora] font-normal text-gray-400 absolute top-1/2 left-3 -translate-y-1/2 pointer-events-none transition-all duration-300 ease-in;
}
.form .card .cardInput{
    @apply  border-b border-black focus:outline-none  pl-3 pt-3 w-full;
}
.form .card .cardInput:focus + .cardText,
.form .cards .cardInput:valid + .cardText {
  @apply -top-[0px] text-lg text-black
}
/* btn part */
.btnBox{ 
    @apply w-full text-center border-separate flex justify-around gap-5
}
.btnBox .btn{
    @apply px-5 py-1 border rounded-md hover:bg-[var(--bg-color)] hover:text-white transition-all duration-300 ease-linear mt-7
}
.btnBox .btn1{
    @apply px-5 py-1 border rounded-md hover:bg-[var(--bg-color)] hover:text-white transition-all duration-300 ease-linear ml-[200px]
}
.Error{
    @apply text-sm text-red-500 ml-5 -mt-4 mb-3
}
.cardPassword{
    @apply w-full text-right mb-5 -mt-5 text-[0.9rem] pr-5
}
.cardPassword .ForgotPassword{
    @apply underline text-blue-300 transition duration-300 ease-linear 
}
.cardPassword:hover .ForgotPassword{
    @apply hover:text-blue-500
}
.cardAccount{
    @apply mt-[70px] text-[0.9rem] pl-5
}
.cardAccount.except{
    @apply mt-[50px] pl-5
}
.cardAccount .Account span{
    @apply text-blue-200 transition duration-300 ease-out
}
.cardAccount .Account:hover span{
    @apply text-blue-500
}

/* media */
@media(max-width:360px){
    .container{
        @apply w-auto mx-3 text-sm
    }
    .form .card .cardText{
        @apply text-sm
    }
    .btnBox .btn1{
    @apply pl-3 text-left
}
}