@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-color-primary: rgb(30, 41, 59);
  --bg-color: rgb(100, 116, 139);
  --bg-primary: rgb(255, 255, 255);
  --bg-secondary: rgb(226, 232, 240);
  --font-family: 'Merriweather', sans-serif;
  --btn-color: rgb(71, 85, 105);
  --card-shadow: rgb(255, 255, 255);
  --text-color: #000000;
  --text-hover-color: rgb(30, 41, 59);
  --text-color-secondary: rgb(255, 255, 255);
  --text-size: 1rem;
  --text-color-promot: rgb(101, 163, 13);
}

/* dark theme */
[data-theme="dark"] {
  --bg-color-primary: rgb(15, 23, 42);
  /* darker than 30,41,59 */
  --bg-color: rgb(30, 41, 59);
  /* darker than 100,116,139 */
  --text-color: rgb(230, 230, 230);
  /* light text on dark bg */
  --text-size: 1rem;
  /* keep same */
  --bg-primary: rgb(55, 65, 81);
  /* background for cards/buttons */
  --bg-secondary: rgb(55, 65, 81);
  /* secondary surfaces */
  --font-family: 'Merriweather', sans-serif;
  /* keep same */
  --btn-color: rgb(100, 116, 139);
  /* slightly lighter button color */
  --text-color-promot: rgb(163, 230, 101);
}

/* Red Theme */
[data-theme="red"] {
  --bg-color: #fff1f2;
  --text-color: #7f1d1d;
  --primary-color: #dc2626;
}

/* Green Theme */
[data-theme="green"] {
  /* --bg-color: #f0fdf4; */
  --bg-color-primary: #064e3b;
  --bg-color: #10b981;
  --text-color: #064e3b;
  --primary-color: #10b981;
}

/* Blue Theme */
[data-theme="blue"] {
  --bg-color: #eff6ff;
  --text-color: #1e3a8a;
  --primary-color: #3b82f6;
}