*{
    box-sizing: border-box;
}
.container{
    @apply w-full px-3 py-5 min-h-[170px]
}
.cards{
    @apply flex justify-around flex-wrap gap-5 
}
.card{
    @apply shadow-md bg-white w-[300px] sm:h-[150px] h-[200px] m-auto rounded-2xl p-3 font-[poppins] grid sm:grid-flow-col 
}
.card .cardSpan{
    @apply text-[1.3rem] sm:text-[1.8rem]
}
.card .value{
    @apply text-[1.3rem] sm:text-[1.3rem]
}
.cards .chartBar{
    @apply  relative z-20 
}
.card .chart{
    @apply w-full  h-full overflow-hidden content-center object-fill relative z-10
}
.card .textContainer{
    @apply   min-w-[110px] h-[50px] sm:h-auto overflow-hidden 
}
.cards .chart .chart1{
    @apply w-[11px] content-[""] bg-blue-200 rounded-md -z-10 bottom-[32px] h-[88px] left-[17px] absolute hidden sm:block
 }
 .cards .chart .chart2{
    @apply w-[10px] content-[""] bg-blue-200 rounded-md absolute -z-10 bottom-[32px] h-[88px] left-[38px] hidden sm:block
 }.cards .chart .chart3{
    @apply w-[11px] content-[""] bg-blue-200 rounded-md absolute -z-10 bottom-[32px] h-[88px] left-[58px] hidden sm:block
 }.cards .chart .chart4{
    @apply w-[11px] content-[""] bg-blue-300 rounded-md absolute -z-10 bottom-[32px] h-[88px] left-[79px] hidden sm:block
 }.cards .chart .chart5{
    @apply w-[11px] content-[""] bg-blue-200 rounded-md absolute -z-10 bottom-[32px] h-[88px] left-[99px] hidden sm:block
 }
 .cards .chart .chart6{
    @apply w-[11px] content-[""] bg-blue-200 rounded-md absolute -z-10 bottom-[32px] h-[88px] left-[120px] hidden sm:block
 }
 .cards .chart .chart7{
    @apply w-[11px] content-[""] bg-blue-200 rounded-md absolute -z-10 bottom-[32px] h-[88px] left-[140px] hidden sm:block
 }

 /* order table */
.OrderContainer{
   @apply bg-white rounded-2xl  mx-5 pb-5 mt-5 mb-10 h-[400px] overflow-hidden overflow-y-scroll 
}
.OrderContainer .OrderHeader{
   @apply flex justify-between mb-5 bg-gradient-to-r from-[rgb(124,58,237)] to-[rgb(192,38,211)] py-3 px-3  sticky top-0 
}
.OrderContainer .OrderTitle{
   @apply  text-[1.1rem]  text-white
}
 .OrderTable{
    @apply  mx-auto px-3 
 }
.OrderTable .titleBox{
    @apply border-y-2 py-3 bg-gray-200 
 }
  .OrderTable .Title{
    @apply  py-3 px-3 text-start 
 }
 .OrderHeader .FilterBox{
   @apply border border-white px-5 py-1 rounded-xl 
 }
 .OrderHeader .FilterBox .filter{
   @apply focus:outline-none outline-none bg-transparent w-full text-white
 }
 .OrderTable .Row{
    @apply border-b-2 
 }
 .OrderTable .Column{ 
    @apply pr-5 pl-3 py-3
  }

  /* ------------Global Curves */

  .GlobalCurves{
   @apply mx-5 flex min-h-[400px] my-5  gap-5 flex-wrap lg:flex-nowrap text-[1rem]
  }
  .GlobalCurves .YearsCurve{
   @apply bg-[var(--bg-primary)] rounded-[20px] sm:min-w-[600px] min-w-[250px] max-w-[700px] overflow-hidden pb-3 mx-auto 
  }
  .GlobalCurves .filterBox{
   @apply flex justify-between  w-full bg-gray-300 py-4 rounded-t-[20px] px-5 text-black font-bold text-center
  }
  .GlobalCurves .filterBox .filter{
   @apply bg-transparent px-5 py-1 shadow-[-0px_1px_5px_1px_rgb(255,255,255)] focus:outline-none rounded-lg text-[rgb(255,255,255)] cursor-pointer 
  }

  /* Mount orders */
  .MounthOrder{
   @apply bg-[var(--bg-primary)] rounded-[20px] min-w-[250px] max-w-[500px] lg:w-[100%] mx-auto
  }
  .Curve{
   @apply w-full my-3 h-[300px]
  }
  .Curve .p{
   @apply text-center pt-32 
  }
  /* ----------Table Footer------------- */

  .footer_btn{
   @apply text-[1.4rem] flex gap-5 text-[rgb(124,58,237)] my-3
  }
  .footer_btn .span{
   @apply text-[0.9rem]
  }