@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------------------header------------------- */
body{
    font-size: 1rem;
    @apply bg-stone-100; 
}
.ac-navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    padding: 10px;
    gap: 20px;

}
.ac_search{
    @apply flex relative;
}
.ac_search input{
    padding: 5px 45px 5px 15px;
    @apply border border-stone-500 min-w-full outline-none rounded-lg focus:border-stone-200;
}
.ac_search .search-icon{
    @apply bg-stone-200 h-[90%] top-0 right-0 absolute m-0.5 rounded-e-md px-3 pt-2;
}
.side_btn{
    @apply flex justify-end items-center gap-5 mr-5 ;
}
/* ----------------------body------------------- */
/* side bar filters*/

.ac-Category::before{
    @apply absolute content-[""] transition-all duration-300 h-3 w-3 rounded-full bg-[#B3B3B3] top-[25px] right-[-7px] hover:bg-[#331C08];
}
.ac-Category::after{
    @apply absolute content-[""] transition-all duration-300 h-[210px] w-[2px] bg-[#B3B3B3] top-[25px] right-[-2px] hover:bg-[#331C08];
}
.ac-Price::before{
    @apply absolute content-[""] transition-all duration-300 h-3 w-3 rounded-full bg-[#B3B3B3] top-[230px] right-[-7px] hover:bg-[#331C08];
}
.ac-Price::after{
    @apply absolute content-[""] transition-all duration-300 h-[160px] w-[2px] bg-[#B3B3B3] top-[230px] right-[-2px] hover:bg-[#331C08];
}
.ac-Color::before{
    @apply absolute content-[""] transition-all duration-300 h-3 w-3 rounded-full bg-[#B3B3B3] top-[378px] right-[-7px] hover:bg-[#331C08];
}
.ac-Color::after{
    @apply absolute content-[""] transition-all duration-300 h-[264px] w-[2px] bg-[#B3B3B3] top-[378px] right-[-2px] hover:bg-[#331C08];
}