

.CustomContainer{
@apply min-w-[150px] w-full 
}
.customFields{
    @apply bg-[var(--bg-primary)] rounded-lg p-3 my-3
}
 .title{
    @apply border-b border-slate-400 text-[1.2rem] font-[Lora] 
}
.customFields .CustomInfo .field{
    @apply text-[1.1rem] font-bold 
}
.customFields .CustomInfo .span{
    @apply text-[1rem] font-normal 
}
/* delevery field */
.deleveryFields{
    @apply bg-[var(--bg-primary)] rounded-lg p-3 my-3 
}
.deleveryFields .form{
    @apply   rounded-lg my-5 px-3 pt-3
}
.form .field{
    @apply gap-5 text-[0.9rem] shadow-[0_1px_20px_-5px_rgba(67,56,202,0.35)] mb-3 content-center px-3 rounded-lg py-2
}
.form .field .label{
    @apply inline ml-5 font-normal 
}
.form .info{
    @apply text-[0.9rem] font-medium
}
.btnBox{
    @apply text-right w-full 
}
.btnBox .btn{
    @apply px-5 py-2 border border-[var(--bg-color-primary)] bg-[var(--bg-color-primary)] text-white rounded-md
}

/* payment fields */
.payementFields .field{
    @apply content-center my-5
}
.payementFields .field .button{
    @apply rounded-sm w-20 h-14 relative content-center 
}
.payementFields .field .button .img { 
    @apply w-full h-full
}
.payementFields .field .button .group2{
    @apply absolute top-[60px] left-[-25px] hidden text-white w-24  bg-yellow-500 mx-4 rounded-md  
}
.payementFields .field .button .group1{
    @apply absolute top-[60px] left-[20px] hidden text-white w-10 bg-yellow-500 rounded-md 
}
.payementFields .field .button .group{
    @apply absolute top-[60px] left-[20px] hidden text-white w-12 bg-yellow-500 rounded-md px-1 
}

.payementFields .field .button:hover .group2{
    @apply absolute top-[60px] left-[-25px] block text-white w-24  bg-yellow-500 mx-4 rounded-md
}
.payementFields .field .button:hover .group1{
    @apply absolute top-[60px] left-[20px] block text-white w-10 bg-yellow-500 rounded-md
}
.payementFields .field .button:hover .group{
    @apply absolute top-[60px] left-[20px] block text-white w-12 bg-yellow-500 rounded-md px-1
}